* {
  box-sizing: border-box;
}

@mixin text {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #003d4e;
  font-weight: bold;
}

@mixin search-box {
  width: 300px;
  font-size: 16px;
  padding: 14px 12px 12px;
  background-color: #fff;
  border: none;
}

@mixin search-btn {
  width: 200px;
  padding: 17px 60px 16px 52px;
  height: 50px;
  background-color: #dd133b;
  border: 0;
}

p {
  @include text;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  width: 100%;
  padding: 100px;
  margin-top: 200px;
  margin-bottom: 200px;
  position: relative;
}

.tab {
  display: flex;
  width: 80px;
  height: 40px;
  background-color: #003d4e;
  position: absolute;
  left: 102px;
  top: 60px;
  background-color: #e3e3e3;
   img {
     width: 20px;
     height: 20px;
     margin: 10px;
    p {
      margin: 0;
      padding: 0;
     }
  }
 }

.form {
    display: flex;
    flex-wrap: wrap;
    background-color: #e3e3e3;
    height: auto;
    width: 670px;
    padding: 20px;
}

.input {
  @include search-box;
  margin-right: 10px;
   hr {
    border-bottom: 2px solid #c3c3c3;
    width: 300px;
    margin: 4px 0;
    padding: 0;
 }
}

.text {
  text-decoration: underline;
  text-decoration-color: #003d4e;
  text-decoration-style: dotted;
   p {
    font-size: 16px;
    font-weight: normal;
    margin: 0 0 30px 0;
  }
}

.bottom-container {
  display: flex;
  flex-direction: column;
}

.search-btn {
  @include search-btn
  position: relative;
   p {
    color: #fff;
    font-weight: bold;
    position: absolute;
    font-size: 18px;
    top: 0;
    right: 40px;
    bottom: 0;
    left: 0;
 }
}

.search-btn {
  hr {
    position: absolute;
    border-bottom: 2px solid #003d4e;
    top: 48px;
    right: 0;
    width: 200px;
    margin: 0;
    padding: 2px;
  }
}
